.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
